* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#ifla{
  background-color:#4bb5ff;
}
.htmlpage-row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.htmlpage-cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.c1974{
  padding:10px;
  font-size:36px;
  text-align:center;
  color:#ffffff;
}
@media (max-width: 768px){
  .htmlpage-cell{
    width:100%;
    display:block;
  }
}
